body {
	font-family: 'Open Sans', sans-serif;
}

h1 {
	margin: 0;
}

.grid {
	width: 1400px;
	display: grid;
	grid-template-columns: 200px 1000px;
	grid-column-gap: 50px;
	height: 200px;
	margin-left: 30px;
}

.home {
	width: 200px;
}

.list {
	list-style-type: none;
}

a:link {
  color: black;
}

a:visited {
  color: gray;
}

a:hover {
  color: orange;
}
