body {
	font-family: 'Open Sans', sans-serif;
	padding-left: 30px;
	background-color: #333;
}

button { 
  background-color:#acacac; 
  border: none; 
  color:white;
  text-transform: uppercase; 
  padding: 1em 2em 1em 2em; 
}

.button1:hover {
	background-color: orange;
}

.container {
  background-image: url(https://i.insider.com/55fdd056dd089562588b45a4?width=1100&format=jpeg&auto=webp);
  background-size: cover;
  height:700px;
  margin: 0 auto;
  width:50%;
  
}

h1 {
  color: #fff;
  font-size:52px; 
  position:relative;
  text-align:center; 
 
}
