body {
	font-family: 'Nunito', sans-serif;
	color: #fff;
  margin: 0;
}


.header {
  width: 100%;
	min-height: 560px;
  height: auto;
	background-image: url(../img/home.jpg);
	background-position: -100px -100px;
	background-size: 150%;
	color: white;
	background-repeat: no-repeat;
	position: relative;
}

.overlay {
	width: 100%;
	min-height: 560px;
  height: auto;
	background-image: linear-gradient(rgba(255, 255, 255, 0.0), rgba(255, 255, 255, 0.0), rgba(255, 255, 255, 1.0));
	color: white;
	position: absolute;
  display: none;
}


.clogo {
	background-image: url(../img/charlies-logo.jpg);
	background-size: contain;
	background-repeat: no-repeat;
	width: 100px;
	height: 60px;
	margin-left: 13px;
	position: absolute;
}

/* Nav */

.menu-content {
	max-height: 0;
  overflow: hidden;
	font-weight: 700;
	font-size: 25px;
  line-height: 35px;
	color: #707070;
	padding: 0px 0px 0px 0px;
}

.collapsible-menu {
    transition: all 0.25s ease-out;
    position: fixed;
    width: 100%;
    box-shadow:inset 0 0 0 2000px rgba(255, 255, 255, 0.8);
}

.collapsible-menu ul {
    list-style-type: none;
    padding-bottom: 20px;
    margin: 0;
    padding: 0px;
    float: right;
    margin-top: 15px;
    margin-right: 20px;
}

.collapsible-menu li {
  list-style-type: none;
	text-align: right;
}

.collapsible-menu a {
  text-decoration: none;
  padding: 10px;
  color: #707070;
}

.collapsible-menu a:hover {
  color: black;
}

.collapsible-menu label {
	height: 30px;
	width: 30px;
	padding-top: 30px;
  display: block;
  cursor: pointer;
  float: right;
	background: url(../img/nav-icon.png) no-repeat left center;
  margin-right: 7.5%

}

input#navmenu {
    display: none;
}

input:checked +.navmenu {
    background-image: url(../img/nav-icon2.png);
    transition: all 0.25s ease-out;
}

input:checked +.collapsible-menu{
    background-image: url(../img/nav-icon2.png);
    transition: all 0.25s ease-out;
}

input:checked ~ .menu-content {
    max-height: 100%;
    transition: all 0.25s ease-out;
}

/* Nav End */



/* Menu */


h1 {
	font-family: 'Nunito', sans-serif;
	font-weight: 700;
	font-size: 25px;
	color: #707070;
	margin-left: 13px;
}

p {
	font-family: 'Nunito', sans-serif;	
	font-weight: 400;
	font-size: 16px;
	line-height: 25px;
	color: #707070;
	margin-left: 13px;
	margin-bottom: 0;
}





/* Tea Collapsible Menu Buttons */

.teacontent {
  width: 93%;
	display: grid;
	grid-template-columns: 75% 12.5%;
  	grid-column-gap: 5%;
  flex-wrap: wrap;
  margin: 0 auto;
}

.subtext {
	width: 93%;
	height: 34px;
	font-family: 'Nunito', sans-serif;	
	font-weight: 300;
	font-size: 13px;
	line-height: 17px;
	color: #707070;
	margin: 10px 0 55px 3%;
}

input[type='checkbox'] {
  display: none;
}

input:checked +.tea-lbl-toggle {
  background-size: 100%;
  background-color: #707070;
  background-position: 0 -180px;
  background-repeat: no-repeat;
  background-image: url(../img/tea1.jpg);
  color: #707070;
  box-shadow:inset 0 0 0 2000px rgba(255, 255, 255, 0.7)
}

.tea-lbl-toggle {
  display: block;

  color: #fff;
  background-image: url(../img/Tea1.jpg);
  background-size: 100%;
  background-position: 0 -180px;
  background-repeat: no-repeat;
  font-family: 'Nunito', sans-serif;
  font-weight: 700;
  font-size: 30px;
  text-align: center;
  line-height: 150px;

  cursor: pointer;

  transition: all 0.25s ease-out;
}


.tea-lbl-toggle:hover, .coffee-lbl-toggle:hover, .specials-lbl-toggle:hover,
.sandwiches-lbl-toggle:hover, .muffins-lbl-toggle:hover, .premade-lbl-toggle:hover {
  color: #707070;
}

.collapsible-content {
  max-height: 0px;
  overflow: hidden;

  transition: max-height .25s ease-in-out;
}

.toggle:checked + .tea-lbl-toggle + .collapsible-content {
  max-height: 100vh;
}

/* tea end */




/* coffee */

.coffeecontent {
  width: 93%;
	display: grid;
	grid-template-columns: 46% 10% 10% 10%;
  	grid-gap: 7.8% 5%;
  flex-wrap: wrap;
  margin: 0 auto;
}

input:checked +.coffee-lbl-toggle {
  background-size: 380px;
  background-color: #707070;
  background-image: url(../img/coffee1.jpg);
  background-size: 100%;
  background-position: 0px -167px;
  background-repeat: no-repeat;
  color: #707070;
  box-shadow:inset 0 0 0 2000px rgba(255, 255, 255, 0.7)
}

.coffee-lbl-toggle {
  display: block;

  color: #fff;
  background-image: url(../img/coffee1.jpg);
  background-size: 100%;
  background-position: 0px -167px;
  background-repeat: no-repeat;
  font-family: 'Nunito', sans-serif;
  font-weight: 700;
  font-size: 30px;
  text-align: center;
  line-height: 150px;

  cursor: pointer;

  transition: all 0.25s ease-out;
}

.toggle:checked + .coffee-lbl-toggle + .collapsible-content {
  max-height: 100vh;
}

/* coffee end */



/* specials */

.specialscontent {
  width: 93%;
	display: grid;
	grid-template-columns: 51% 10% 10% 10%;
  	grid-gap: 6% 4%;
  flex-wrap: wrap;
  margin: 0 auto;
}

.specialscontent2 {
  width: 93%;
	display: grid;
	grid-template-columns: 70% 10%;
  	grid-gap: 14%;
  flex-wrap: wrap;
  margin: 0 auto;
  	margin-bottom: 50px;
}

input:checked +.specials-lbl-toggle {
  background-color: #707070;
  background-image: url(../img/specials.jpg);
  background-size: 100%;
  background-position: 0px -80px;
  background-repeat: no-repeat;
  color: #707070;
  box-shadow:inset 0 0 0 2000px rgba(255, 255, 255, 0.7)
}

.specials-lbl-toggle {
  display: block;

  color: #fff;
  background-image: url(../img/specials.jpg);
  background-size: 100%;
  background-position: 0px -80px;
  background-repeat: no-repeat;
  font-family: 'Nunito', sans-serif;
  font-weight: 700;
  font-size: 30px;
  text-align: center;
  line-height: 150px;

  cursor: pointer;

  transition: all 0.25s ease-out;
}

.toggle:checked + .specials-lbl-toggle + .collapsible-content {
  max-height: 100vh;
}

/* specials end */



/* sandwiches */

.sandwichescontent {
  width: 93%;
  display: grid;
  flex-wrap: wrap;
  margin: 0 auto;
	display: grid;
	grid-template-columns: 60% 10%;
  	grid-gap: 22%;
  	margin-bottom: 50px;
}

input:checked +.sandwiches-lbl-toggle {
  background-size: 100%;
  background-color: #707070;
  background-image: url(../img/Sandwich1.jpg);
  background-position: 0px -170px;
  background-repeat: no-repeat;
  color: #707070;
  box-shadow:inset 0 0 0 2000px rgba(255, 255, 255, 0.7)
}

.sandwiches-lbl-toggle {
  display: block;

  color: #fff;
  background-image: url(../img/Sandwich1.jpg);
  background-size: 100%;
  background-position: 0px -170px;
  background-repeat: no-repeat;
  font-family: 'Nunito', sans-serif;
  font-weight: 700;
  font-size: 30px;
  text-align: center;
  line-height: 150px;

  cursor: pointer;

  transition: all 0.25s ease-out;
}

.toggle:checked + .sandwiches-lbl-toggle + .collapsible-content {
  max-height: 100vh;
}

/* sandwiches end */



/* muffins */

.muffinscontent {
  width: 93%;
	display: grid;
	grid-template-columns: 60% 10%;
  	grid-gap: 22%;
  flex-wrap: wrap;
  margin: 0 auto;
  margin-bottom: 50px;
}

input:checked +.muffins-lbl-toggle {
  background-size: 100%;
  background-color: #707070;
  background-image: url(../img/Muffins2.jpg);
  background-position: 0 -300px;
  background-repeat: no-repeat;
  color: #707070;
  box-shadow:inset 0 0 0 2000px rgba(255, 255, 255, 0.7)
}

.muffins-lbl-toggle {
  display: block;

  color: #fff;
  background-image: url(../img/Muffins2.jpg);
  background-size: 100%;
  background-position: 0 -300px;
  background-repeat: no-repeat;
  font-family: 'Nunito', sans-serif;
  font-weight: 700;
  font-size: 30px;
  text-align: center;
  line-height: 150px;

  cursor: pointer;

  transition: all 0.25s ease-out;
}

.toggle:checked + .muffins-lbl-toggle + .collapsible-content {
  max-height: 100vh;
}

/* muffins end */



/* premade */

.premadecontent {
  width: 93%;
	display: grid;
	grid-template-columns: 60% 10%;
  	grid-gap: 22%;
  flex-wrap: wrap;
  margin: 0 auto;
  	margin-bottom: 50px;
}

input:checked +.premade-lbl-toggle {
  background-size: 100%;
  background-color: #707070;
  background-image: url(../img/Salad2.jpg);
  background-position: 0 -40px;
  background-repeat: no-repeat;
  color: #707070;
  box-shadow: inset 0 0 0 2000px rgba(255, 255, 255, 0.7)
}

.premade-lbl-toggle {
  display: block;

  color: #fff;
  background-image: url(../img/Salad2.jpg);
  background-size: 100%;
  background-position: 0 -40px;
  background-repeat: no-repeat;
  font-family: 'Nunito', sans-serif;
  font-weight: 700;
  font-size: 30px;
  text-align: center;
  line-height: 150px;

  cursor: pointer;

  transition: all 0.25s ease-out;
}

.toggle:checked + .premade-lbl-toggle + .collapsible-content {
  max-height: 100vh;
}

/* premade end */


/* about us */


.aboutimg {
  min-height: 150px;
	width: 100%;
  height: auto;
	background-image: url(../img/about.jpg);
	background-size: 120%;
  background-position: -50px -40px;
  background-repeat: no-repeat;
  margin-top: 20px;
}

.aboutustext {
  width: 93%;
  margin: 0 auto;
}

/* about us end */



/* contact us */

#contact {
  margin: 0 auto;
	margin-top: 50px;
	width: 93%;
}

.formholder {
	width: 98%;
  margin: 0 auto;
}

.form {
	font-family: 'Nunito', sans-serif;
	font-style: italic;
	font-weight: 300;
	font-size: 16px;
}

.form2 {
	font-family: 'Nunito', sans-serif;
	font-style: italic;
	font-weight: 300;
	font-size: 16px;
	height: 245px;
	line-height: 25px;
}

input[type="email" i], [type="text" i], textarea {
    border: 1px solid #ddd;
    margin: 0 auto;
    margin-top: 10px;
    resize: none;
    width: 100%;
    padding: 10px 0 10px 0;
    line-height: 0px;
}

input[type=submit] {
	text-transform: uppercase;
	font-weight: 700;
	background-color: #707070;
	color: white;
	padding: 10px 18px;
	margin-top: 10px;
	border: none;
	border-radius: 2px;
	cursor: pointer;
	float: right;
}


.social {
	width: 93%;
	height: 130px;
  margin: 0 auto;
	margin-top: 120px;
	margin-bottom: 30px;
	display: grid;
	grid-template-columns: 30px 235px;
  grid-column-gap: 20px;
  grid-template-rows: 30px;
  grid-row-gap: 20px;

}


.fb {
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	width: 30px;
	height: 30px;
}

.fb2 {
	font-family: 'Nunito', sans-serif;	
	font-weight: 400;
	font-size: 16px;
	color: #707070;
	margin-bottom: 0;
	line-height: 30px;
	height: 30px;
}

.fblink:link {
	color: #707070;
	text-decoration: none;
}

.fblink:visited {
	color: #ddd;
	text-decoration: none;
}

.fblink:hover {
	color: #000;
	text-decoration: none;
}


/* Media Queries */
/* On screens that are 600px wide or more, make menu into 3 colums */
@media screen and (min-width: 600px) {
  .wrap-collapsible {
    float: left;
    width: 28.5%;
    padding-right: 3.6%;
  }
}

@media screen and (min-width: 600px) {
  #drinks, #food {
    height: 900px;
    min-height: 425px;
    margin-left: 7.5%;
  }

@media screen and (min-width: 600px) {
#aboutus, #contact  {
  display: grid;
  grid-template-columns: 58.6% 28.6%;
    grid-column-gap: 5.3%;
  margin-left: 7.5%;
}


@media screen and (min-width: 600px) {
  .header {
    width: 100%;
    height: 810px;
    background-size: 100%;
    background-position: 0 -300px;
    color: white;
    background-repeat: no-repeat;
    position: relative;
  }
}

@media screen and (min-width: 600px) {
  .overlay {
    width: 100%;
    height: 810px;
    background-image: linear-gradient(rgba(255, 255, 255, 0.0), rgba(255, 255, 255, 0.0), rgba(255, 255, 255, 1.0));
    color: white;
    position: absolute;
    margin: 0 auto;
    display: none;
  }
}

@media screen and (min-width: 600px) {
  .clogo {
    margin-left: 7.5%;
  }
}

@media screen and (min-width: 600px) {
  .collapsible-menu {
    margin-right: 7.5%;
  }
}

